
    
    
body{
    background-image:url(../img/06C5867E-B3AF-472C-82B7-6729481561BA.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
  
}

.navbar-brand{
 font-family: monospace;
}

h1{
    font-family: 'Comfortaa', cursive;
}

a{
    color: turquoise;
}
p{
    font-family: 'Comfortaa', cursive;
    text-align: justify;
}

ul{
    position: absolute;
    right:36px;
}

main{
    background-color:whitesmoke;
    margin-bottom: 100px;
    opacity: 80%;
   
}

img {
    border: 5px solid rgb(48, 116, 137);
    float:left;
  }

  footer{
      background-color: rgb(48, 116, 137);
      position: fixed;
      bottom: 0;
        

  }

  @media(max-width:991px){
      ul{
          position: unset;
      }
      .navbar-brand{
          font-family: cursive;
      }
  }