
    
    

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.navbar-brand{
    font-family: 'Fredericka the Great', cursive;
}

h1,  h2, h3 {
    font-family: 'Comfortaa', cursive;
    
}
h1 , h2{
    color: rgb(48, 116, 137);
}

.email{
    color: black;
}

ul{
    position: absolute;
    right:36px;
}

main{
    background-color:whitesmoke;
    padding-bottom: 5px;
    margin-bottom: 100px;
}

.btn{
    padding: 0.375rem 1.75rem;
    position: absolute;
    right: 16px;
    background-color:  rgb(48, 116, 137);
}
  footer{
      background-color: rgb(48, 116, 137);
      position: fixed;
      bottom: 0;
        

  }

  @media(max-width:991px){
      ul{
          position: unset;
      }
      .navbar-brand{
          font-family: cursive;
      }

      
  }