
    
    

body{
  
    
}


img {
    border: 5px solid rgb(48, 116, 137);
  }

  footer{
      background-color: rgb(48, 116, 137);
      position: fixed;
      bottom: 0;
      
      
      

  }